configs/state-machine.json
{
  "StartAt": "ExtractImageMetadata",
  "Comment": "Imgage Processing State Machine",
  "States": {
    "ExtractImageMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-1:898594748181:function:sfn-workshop-setup-ExtractMetadata",
      "ResultPath": "$.extractedMetaData",
      "Catch": [{
        "ErrorEquals": [
          "ImageIdentifyError"
        ],
        "ResultPath": "$.error",
        "Next": "NotSupportedImageType"
      }],
      "Next": "ImageTypeCheck"
    },
    "ImageTypeCheck": {
      "Type": "Choice",
      "Choices": [{
        "Or": [{
          "Variable": "$.extractedMetadata.format",
          "StringEquals": "JPEG"
        },
        {
          "Variable": "$.extractedMetadata.format",
          "StringEquals": "PNG"
        }],
        "Next": "Parallel"
      }],
      "Default": "NotSupportedImageType"
    },
    "Parallel": {
      "Type": "Pass",
      "Result": {
        "message": "This is a placeholder we will replace it with a parallel state soon"
      },
      "End": true
    },
    "NotSupportedImageType": {
      "Type": "Fail",
      "Cause": "Image type not supported!",
      "Error": "FileTypeNotSupported"
    }
  }
}